/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
  background: #d1d1d1; 
}

::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555555; 
}

/* general styles */
* {
    margin: 0em;
    padding: 0em;
}

html {
    scroll-behavior: smooth;
}

body .overflow-wrapper {
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

/* menu style */
#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.menu-btn {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    height: 2em;
    width: 2em;
    margin: 0.5em;
}

.menu-btn.open {
    visibility: visible;
}

.menu-btn.close {
    visibility: hidden;
}

#sidebar .slide-in-menu {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
}

#sidebar .anim-slide-in {
    position: absolute;
    right: 0%;
    animation-duration: 0.25s;
    animation-name: menu-slide-in;
    animation-play-state: paused;
    animation-timing-function: ease-in-out;
}

@keyframes menu-slide-in {
    from {
        right: -100%;
    }
    to {
        right: 0%;
    }
}

#sidebar .anim-slide-out {
    position: absolute;
    right: -100%;
    animation-duration: 0.25s;
    animation-name: menu-slide-out;
    animation-play-state: paused;
    animation-timing-function: ease-in-out;
}

@keyframes menu-slide-out {
    from {
        right: 0%;
    }
    to {
        right: -100%;
    }
}

#sidebar .option {
    margin-top: 5vh;
    margin-bottom: 5vh;
    text-align: center;
    font-weight: 900;
    font-size: 36pt;
}

/* page content style */

.content {
    margin-right: 20vw;
    margin-left: 20vw;
    position: relative;
    z-index: -1;
}