/* banner style */
.moving-banner {
    position: relative;
    width: 100%;
    height: 100vh;
    opacity: 0;
}

.moving-banner .background {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.moving-banner .background .image {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.moving-banner .overlay {
    position: relative;
    height: 100%;
    width: 100%;
}

.moving-banner .overlay .title {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 30%;
}

.scroll-down-prompt {
    position: absolute;
    bottom: 0;
    opacity: 1;
    animation-name: slide-up-anim;
    animation-duration: 1s;

    background-color: black;
    padding-top: 0.75em;
    height: 4em;
    width: 100%;
}

.scroll-down-prompt .text {
    width: 100%;
    text-align: center;
}

.scroll-down-prompt .arrow {
    position: absolute;
    height: 2em;
    width: 2em;
    left: 50%;
    transform: translate(-50%, 0);
}


/* content and paragraphs */
.content-paragraph {
    position: relative;
    margin-top: 20em;
    margin-bottom: 20em;
}

.content-paragraph .text {
    position: absolute;
    width: 50%;
}

.content-paragraph .img {
    position: absolute;
    width: 50%;
}

#about-paragraph {
    height: 20em;
}

#about-text {
    text-align: right;
    left: -10vw;
}

#about-img {
    right: -10vw;
}


#projects-paragraph {
    height: 10em;
}

#projects-text {
    right: -10vw;
}

#projects-img {
    text-align: right;
    left: -10vw;
}
