.banner {
    height: 100vh;
    width: 100%;
    position: relative;
}

#moving-banner {
    position: absolute;
    left: 50%;
    top: 0%;
}

.banner .background {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.banner .background .image {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;   
}

.banner .overlay {
    height: 100vh;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.banner .overlay .title {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#scroll-down-prompt {
    position: absolute;
    bottom: 0;
    opacity: 1;
    animation-name: slide-up-anim;
    animation-duration: 1s;

    background-color: black;
    padding-top: 0.75em;
    height: 4em;
    width: 100vw;
    left: 50%;
    transform: translate(-50%, 0);
}

#scroll-down-prompt .text {
    width: 100vw;
    text-align: center;
}

#scroll-down-prompt .arrow {
    position: absolute;
    height: 1em;
    width: 2em;
    left: 50%;
    transform: translate(-50%, 0);
}

.empty-height {
    height: 20vh;
    width: 100%;
}

.content-paragraph {
    position: relative;
    margin-top: 20em;
    margin-bottom: 20em;
}

.content-paragraph .text {
    position: absolute;
    width: 50%;
}

.content-paragraph .img {
    position: absolute;
    width: 50%;
}

#about-paragraph {
    height: 20em;
}

#about-text {
    text-align: right;
    left: -2em;
}

#about-img {
    right: -2em;
}


#projects-paragraph {
    height: 10em;
}

#projects-text {
    right: -2em;
}

#projects-img {
    text-align: right;
    left: -2em;
}
