.BannerImage {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-left: 0;
    margin-right: 0;
}

.BannerContainer {
    height: 100vh;
    position: relative;
}

.BannerOv {
    position: absolute;
    z-index: 10;

    top: 50%;
    left: 50%;

    transform: translate(-50%,-50%);

    text-align: center;
    font-size: 16em;
}