{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- css -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
        {% block requiredcss %} {% endblock %}

        <title> Dominique Garmier {% block title %}{% endblock %} </title>
    </head>
    <body>
        {% block banner %}{% endblock %}

        <!-- navbar -->
        {% include 'partials/_navbar.html' %}

        <!-- content block -->
        <div class="content">
            {% block content %}{% endblock %}
        </div>

        <!-- javascript -->
        <script type="text/javascript" src="{% static 'js/base.js' %}"></script>
        {% block requiredjs %}{% endblock %}
    </body>
</html>