{% extends 'base.html' %}
{% load static %}

{% block requiredcss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/pages/style.css' %}">
{% endblock %}

{% block title%} Welcome {% endblock %}

{% block banner %}

<div class="moving-banner" id="moving-banner">
    <div class="background">
        <div class="image" style="background-image: url('{% static "img/placeholders/w.png" %}');"></div>
    </div>
    <div class="overlay">
        <div class="title">
            <div style="font-weight: bold; font-size: 72pt;"> Welcome </div>
            <div style="font-size: 16pt;"> to a portfolio website... </div>
        </div>
        <div class="scroll-down-prompt">
            <div class="text" style="color: white;"> scroll down </div>
            <div class="arrow">
                <img src="{% static 'img/icons/google-icon-pack/svg/downwards-arrow-key-w.svg' %}" alt="down-arrow" style="max-width: 100%;">
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block content %}

<div class="content-paragraph" id="about-paragraph">
    <div id="about" style="position: absolute; top: -10vh;"></div>
    <div class="text" id="about-text">
        <h1> About </h1>
        <p> this is a story about me </p>
        <p> blablabla </p>
        <p> some more stories... </p>
    </div>
    <div class="img" id="about-img">
        img
    </div>
</div>
<div class="content-paragraph" id="projects-paragraph">
    <div id="projects" style="position: absolute; top: -10vh;"></div>
    <div class="text" id="projects-text">
        <h1 > Projects </h1>
        <p> here is what i did: </p>
        <p> this is cool </p>
        <p> some more stuff </p>
    </div>
    <div class="img" id="projects-img">
        img
    </div>
</div>
<div class="content-paragraph" id="contact-paragraph">
    <div id="contact" style="position: absolute; top: -10vh;"></div>
    <div class="text" id="contact-text">
        <h1 > Contact </h1>
        <p> this is my name... </p>
        <p> my email: </p>
        <p> anything more? </p>
    </div>
    <div class="img" id="contact-img">
        img
    </div>
</div>
{% endblock %}

{% block footer %}

<div>Icons made by <a style="font-weight: 300;" href="https://www.flaticon.com/authors/google" title="Google">Google</a> from <a style="font-weight: 300;" href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>

{% endblock %}


{% block requiredjs %}

<script type="text/javascript" src="{% static 'js/pages/main.js' %}"></script>

{% endblock %}