{% extends 'base.html' %}
{% load static %}

{% block requiredcss %}
<link rel="stylesheet" type="text/css" href="{% static 'css/pages/style.css' %}">
{% endblock %}

{% block title%} Welcome {% endblock %}

{% block banner %}
<div class="banner">
    <div class="background">
        <div class="image" style="background-image: url('{% static "img/placeholders/1.png" %}');"></div>
    </div>
    <div class="overlay">
        <h1>Overlay</h1>
        <p>this is a paragraph</p>
    </div>
</div>
{% endblock %}

{% block content %}
<style>
p.temp {
    padding-bottom: 10cm;
}
</style>
<p class="temp">content</p>
<p class="temp">content</p>
<p class="temp">content</p>
<p class="temp">content</p>
{% endblock %}

{% block footer %}
        <div>Icons made by <a href="https://www.flaticon.com/authors/google" title="Google">Google</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
{% endblock %}


{% block requiredjs %}
<script type="text/javascript" src="{% static 'js/pages/main.js' %}"></script>
{% endblock %}