{% extends 'base.html' %}

{% block title%}Welcome{% endblock %}

{% block banner %}

<div class="BannerContainer">
  <div class="BannerBg">
    <div id="BannerCarousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row-fluid">
            <div class="BannerImage" style="background-image: url('media/placeholders/1.png')"></div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row-fluid">
            <div class="BannerImage" style="background-image: url('media/placeholders/2.png')"></div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row-fluid">
            <div class="BannerImage" style="background-image: url('media/placeholders/3.png')"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="BannerOv">
    <div class="h1" style="font-size:20vw">Welcome</div>
  </div>
</div>

{% endblock %}



{% block content %}
<div class="card-deck">
  <div class="card" style="width: 18rem; margin-top: 3rem;">
    <img class="card-img-top" src="media/placeholders/3.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card" style="width: 18rem; margin-top: 3rem;">
    <img class="card-img-top" src="media/placeholders/3.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card" style="width: 18rem; margin-top: 3rem;">
    <img class="card-img-top" src="media/placeholders/3.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card" style="width: 18rem; margin-top: 3rem;">
    <img class="card-img-top" src="media/placeholders/3.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card" style="width: 18rem; margin-top: 3rem;">
    <img class="card-img-top" src="media/placeholders/3.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  <div class="card" style="width: 18rem; margin-top: 3rem;">
    <img class="card-img-top" src="media/placeholders/3.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>


{% endblock %}