{% load static %}

<div id="sidebar">
    <div class="menu-btn open" id="open-menu-btn">
        <img style="max-width: 100%;" src="{% static 'img/icons/google-icon-pack/svg/menu-button.svg' %}" alt="hamburger-icon" onclick="OpenMenu()">
    </div>
    <div class="menu-btn close" id="close-menu-btn">
        <img style="max-width: 100%;" src="{% static 'img/icons/google-icon-pack/svg/close-button-w.svg' %}" alt="x-icon" onclick="CloseMenu()">
    </div>
    <div class="anim-slide-in slide-in-menu" id="slide-in-menu">
        <div style="height: 10vh;"></div>
        <div class="option">
            <a style="color: white;" href="#" onclick="CloseMenu()"> Home </a>
        </div>
        <div class="option">
            <a style="color: white;" href="#about" onclick="CloseMenu()"> About </a>
        </div>
        <div class="option">
            <a style="color: white;" href="#projects" onclick="CloseMenu()"> Projects </a>
        </div>
        <div class="option">
            <a style="color: white;" href="#" onclick="CloseMenu()"> Contact </a>
        </div>
    </div>
</div>