{% load static %}

<div id="sidebar">
    <div class="menu-btn open" id="open-menu-btn">
        <img src="{% static 'img/icons/google-icon-pack/svg/menu-button.svg' %}" alt="hamburger-icon" onclick="OpenMenu()">
    </div>
    <div class="menu-btn close" id="close-menu-btn">
        <img src="{% static 'img/icons/google-icon-pack/svg/close-button-w.svg' %}" alt="x-icon" onclick="CloseMenu()">
    </div>
    <div class="anim-slide-in slide-in-menu" id="slide-in-menu">
        <div id="opt-container">
            <div class="option">
                <a href="#" onclick="CloseMenu()"> Home </a>
            </div>
            <div class="option">
                <a href="#about" onclick="CloseMenu()"> About </a>
            </div>
            <div class="option">
                <a href="#projects" onclick="CloseMenu()"> Projects </a>
            </div>
            <div class="option">
                <a href="#" onclick="CloseMenu()"> Contact </a>
            </div>
        </div>
    </div>
</div>